* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilo menu navegacion */
div ul li a {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.destacadas {
    font-size: 10vh;
}

.dropdown-menu li a {
    font-size: 1rem;
}

.header {
    width: 100%;
}

.separador {
    height: 0.2rem;
}

.logo {
    font-weight: 600;
}

.navbar-brand {

    background-color: rgb(192, 196, 217);
    border-radius: 1rem;
    padding: 0.7rem;
}

.navbar-brand:hover {

    background-color: rgb(105, 177, 235);
    border-radius: 1rem;
    ;
}

.nav-link:hover {
    background-color: rgb(105, 177, 235);
    border-radius: 1rem;
}

.main {
    margin-left: 2%;
    margin-right: 2%;
}

.container {
    max-width: 90vh;
    padding-top: 0.7rem;
}

/* texto descriptivo  */
.desc {
    font-size: 1rem;
}

.nosotros {
    max-width: 600px;
    border: 0.15rem solid black;
    padding: 0.6rem;
    background-color: #ffffff;
    opacity: 0.6;


}

.row {
    justify-content: center;
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.7rem;
}



/* FORMULARIO DE CONTACTO */

.formulario {
    padding: 2.1rem;
    background-color:lightgray;
    border-radius: 1rem;
    margin: auto;
    max-width: 600px;
    margin-top: 2rem;
    margin: auto;
    height: 70vh;
    max-height: 450px;
    opacity: 0.9;


}

ion-icon {
    font-size: 3rem;
    padding: 1rem;
}

.pie {
    font-size: 1rem;
}

.direcciones {
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 500;
}

/* PRUEBA DE ESTILOS */
.mapa {
    border: 0.15rem solid black;
    height: 10rem;
    position: relative;
    overflow: hidden;
}

.fondoNosotros {
    background-image: url('../img-inmobiliaria/felipe-labate-9uICMSlbtCo-unsplash.jpg');
    background-size: cover;
    height: 70vh;
}

.fondoRequisitos {
    background-image: url('../img-inmobiliaria/calle-de-la-avenida-buenos-aires-119384330.jpeg');
    background-size: cover;
    height: 70vh;
}

.cajaRequisitos {
    border: 0.15rem solid black;
    padding: 0.7rem;
    background-color: #ffffff;
    opacity: 0.6;
    height: fit-content;
    max-width: 600px;
    min-width: 300px;
}

.fondoContacto {
    display: flex;
    background-image: url('../img-inmobiliaria/Peatonal.jpg');
    object-fit: cover;
    height: 70vh;
}


.grids {
    margin-left: 1%;
    margin-right: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-gap: 0.3rem;
    border: 0.15rem solid black;
}

.propiedades {
    grid-column: 1/5;
}

.descripcion {
    grid-column: 5/6;
    display: flex;
    flex-direction: column;
}

/* MEDIA QUERIES */


@media(max-width:768px) {

    ion-icon {
        font-size: 1.5rem;
        padding: 0.3rem;
    }

    .pie {
        font-size: 0.6rem;
    }

    .desc {
        margin-top: 1rem;
        font-size: 0.8rem;
    }

    .formulario {
        max-width: 380px;
        border-radius: 10px;
    }

}

@media(max-width:370px) {

    ion-icon {
        font-size: 1.4rem;
        padding: 0px;
    }

    .pie {
        font-size: 0.5rem;
    }
}